@(message: String)

@main("Home"){
    <div class="container-fluid">
      <h1>Welcome to the <a href="https://github.com/michaelhawkins/playful-prelaunch"
        target="_blank">
        Playful Prelaunch App</a></h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        vehicula tellus ut orci auctor dictum. Sed ipsum ipsum, posuere ut eros
        eu, ornare bibendum massa. Donec eu rhoncus magna. Vivamus mauris quam,
        dictum in vestibulum et, auctor malesuada purus. Proin iaculis nibh et
        semper pretium. Sed sit amet libero et felis luctus dignissim. Duis quis
        rhoncus turpis. Praesent eu interdum est, quis feugiat mi. Suspendisse
        fringilla molestie turpis convallis lobortis. Sed cursus odio nec tortor
        pharetra viverra. Nulla lacinia a sapien id condimentum. Integer urna
        sapien, molestie a turpis sed, cursus adipiscing nisl.
      </p>

      <p>
        Praesent porta placerat nulla, a vulputate tortor auctor et. Suspendisse
        vitae ligula arcu. Proin fermentum sem vel enim eleifend, fermentum
        lobortis tortor aliquet. Sed eleifend tristique mauris quis egestas. Sed
        eleifend vestibulum ipsum ac sagittis. Sed varius, est sit amet lobortis
        vehicula, risus leo laoreet est, eget faucibus magna massa vel neque.
        Aenean vehicula nisi vitae elit ultricies, quis suscipit massa convallis.
        Phasellus mauris sapien, elementum vitae scelerisque eget, fermentum sit
        amet sapien. Etiam eget consequat urna. Suspendisse id semper nunc.
        Pellentesque et bibendum diam. Integer porttitor neque nec nunc ultrices
        convallis. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia Curae; Maecenas dignissim adipiscing feugiat.
        Mauris a tincidunt enim, id fringilla elit. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
      </p>
    </div>
}
